/*
 * FCKeditor - The text editor for internet
 * Copyright (C) 2003-2004 Frederico Caldeira Knabben
 * 
 * Licensed under the terms of the GNU Lesser General Public License:
 * 		http://www.opensource.org/licenses/lgpl-license.php
 * 
 * For further information visit:
 * 		http://www.fckeditor.net/
 * 
 * Version:  2.0 RC3
 * Modified: 2004-11-27 02:03:27
 */

body
{
	font-family: Arial, Verdana, Sans-Serif;
}

p
{
	margin-left: 20px;
}

code
{
	padding-right: 10px;
	display: block;
	padding-left: 10px;
	padding-bottom: 5px;
	margin: 10px 20px;
	padding-top: 5px;
	background-color: #dcdcdc;
}

.classPropMeth
{
	margin-top: 10px;
	font-weight: bold;
	font-size: 0.8em;
	margin-left: 0px;
	font-family: 'Courier New' , Monospace;
}

.paramsDefinition
{
	margin-left: 20px;
}

.classDefinition *
{
	margin-top: 0px;
	margin-bottom: 0px;
}

li
{
	margin: 5px ;
}