extends index

block scripting
    script(src='javascripts/content_details.js')

block content
    table
        tr
            td
                #wrapper
                    #userInfo
                        h2 Content Info
                        p(style="width: 652px;")
                            strong Category id:
                            |  <span id='categoryId'></span>
                            br
                            strong Category name:
                            |  <span id='category'></span>
                            br
                            strong From name:
                            |  <span id='fromname'></span>
                            br
                            strong Subject:
                            |  <span id='subject'></span>
                            br
                            strong Content:
                            |  <span id='content'></span>
                    h2(style="padding-left: 450px;") Content List
                    #userList(style="padding-left: 450px;")
                        table
                            thead
                                th Category
                                th Delete?
                            tbody
                    h2(style="padding-left: 450px;") Add/Edit Content
                    #addContent(style="padding-left: 450px;")
                        fieldset
                            div(style="background-color : #c2d6d6; padding: 5px;")
                                input#inputCategoryId(type='text', placeholder='Category id')
                                br
                                br
                                input#inputCategory(type='text', placeholder='Category name')
                                br
                                br
                                input#inputFromName(type='text', placeholder='From Name')
                                br
                                br
                                input#inputSubject(type='text', placeholder='Subject')
                                br
                                br
                                textarea#inputContent(style="resize: vertical; width : 353px;",name="new_content", placeholder='Content')
                                br
                                br
                                button#btnAddContent Add Content
                                h4 or
                                form.form-inline(method='post', action='/uploadZip', enctype='multipart/form-data')
                                    .form-group
                                        label.sr-only
                                        .input-group
                                            .input-group-addon file
                                            input.form-control(type='file', name='fileUploaded')
                                        br
                                    button(type='submit') Upload File