extends index

block scripting
    script(src='javascripts/content_stats.js')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    //script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')

block content
    table
        tr
            td
                #wrapper(style='padding-left: 110px;')
                    h2 Others Stats
                    table(width='100%')
                        tr
                            td(width='50%', style='padding: 5px;')
                                | Domain :
                                =  ' '
                                select(id='domain_id')
                                    option all
                            td
                            td
                            //td(align='right', width='50%', style='padding: 5px;')
                            //    | User :
                            //    =  ' '
                            //    select(id='user_id')
                            //            option all
                        tr
                            td(width='50%', style='padding: 5px;')
                                | Category :
                                =  ' '
                                select(id='category_id')
                                    option all
                            td
                            td(align='right', width='50%', style='padding: 5px;')
                                | ISP :
                                =  ' '
                                select(id='esp_id')
                                    option all
                                    option google
                                    option yahoodns
                                    option hotmail
                                    option aol
                                    option others
                        tr
                            td
                                p(width='45%', style='padding: 5px;')
                                    | Email :
                                    =  ' '
                                    input#email_id(type='text', size='30')
                                    = ' '
                            td(align='middle', width='10%', style='padding: 5px;')
                                p
                                    a(style='cursor: pointer;')
                                        img#refresh(src='images/icon-refresh.png', alt='refresh', width='20', height='20')
                            td
                                p(align='right', width='45%', style='padding: 5px;')
                                    | Date :
                                    =  ' '
                                    input#datepicker(type='text', size='10')
                    br
                    #userList
                        table
                            thead
                                th Sent
                                th Bounced
                                th Deferred
                                th Opens
                                th Unique Opens
                                th Clicks
                                th Unique Clicks
                                th Unsubs
                                th Unique Unsubs
                            tbody
                    br
                    h2 Warm up Stats
                    table(width='100%')
                        tr
                            td(width='33%', style='padding: 5px;')
                                | Domain :
                                =  ' '
                                select(id='domain_id2')
                                    option all
                            td(align='middle', width='34%', style='padding: 5px;')
                            td(align='right', width='33%', style='padding: 5px;')
                                | ISP :
                                =  ' '
                                select(id='esp_id2')
                                    option all
                                    option google
                                    option yahoodns
                                    option hotmail
                                    option aol
                                    option others
                        tr
                            td
                                p(width='33%', style='padding: 5px;')
                                    | Email :
                                    =  ' '
                                    input#email_id2(type='text', size='30')
                                    = ' '
                            td(align='middle', width='34%', style='padding: 5px;')
                                p
                                    a(style='cursor: pointer;')
                                        img#refresh2(src='images/icon-refresh.png', alt='refresh', width='20', height='20')
                            td
                                p(align='right', width='33%', style='padding: 5px;')
                                    | Date :
                                    =  ' '
                                    input#datepicker2(type='text', size='10')
                    br
                    #userList2
                        table
                            thead
                                th Sent
                                th Bounced
                                th Deferred
                                th Opens
                                th Unique Opens
                                th Clicks
                                th Unique Clicks
                                th Unsubs
                                th Unique Unsubs
                            tbody