extends index

block scripting
    script(src='javascripts/content_details_wmp.js')
    //script(src='javascripts/fckeditor/fckeditor.js')
    script(src='javascripts/ckeditor/ckeditor.js')
    //script(src='//cdn.ckeditor.com/4.5.9/full/ckeditor.js')

block content
    table
        tr
            td
                #wrapper
                    #userInfo
                        h2 Content Info
                        p(style="width: 752px;")
                            strong(style='padding: 10px') Domain name:
                            |  <span id='domain'></span>
                            br
                            br
                            strong(style='padding: 10px') From Name:
                            |  <span id='fromname'></span>
                            br
                            br
                            strong(style='padding: 10px') Subject:
                            |  <span id='subject'></span>
                            br
                            br
                            strong(style='padding: 10px') Content:
                            |  <span id='content'></span>
                            textarea#editorContent(style='display: none;', name='editorContent', rows='15', cols='100')
                            br
                            //button.btn.btn-info(style='float: right')
                            //    | Edit
                    h2(style="padding-left: 450px;") Content List
                    #userList(style="padding-left: 450px;")
                        table
                            thead
                                th Domain
                                th Delete?
                            tbody
                    h2(style="padding-left: 450px;") Add/Edit Content
                    #addContent(style="padding-left: 450px;")
                        fieldset
                            div(style="background-color : #c2d6d6; padding: 5px;")
                                //textarea#inputContent(style="resize: vertical; width : 353px;",name="new_content", placeholder='Content')
                                //br
                                //br
                                //button#btnAddContent Add Content
                                //h4 or
                                form.form-inline(method='post', action='/uploadZipWmp', enctype='multipart/form-data')
                                    .form-group
                                        label.sr-only
                                        .input-group(style='width:347px')
                                            //.input-group-addon domain name
                                            input.form-control#inputDomain(name='domain_name', type='text', placeholder='Domain name')
                                        br
                                        .input-group(style='width:347px')
                                            //.input-group-addon from name
                                            input.form-control#inputFromName(name='fromname', type='text', placeholder='From Name')
                                        br
                                        .input-group(style='width:347px')
                                            //.input-group-addon subject
                                            input.form-control#inputSubject(name='subject', type='text', placeholder='Subject')
                                        br
                                        .input-group(style='width:347px')
                                            //.input-group-addon file
                                            input.form-control(type='file', name='fileUploaded')
                                        br
                                    button.btn.btn-success(type='submit') Upload File

//html
//    head
//        script(src='javascripts/fckeditor/fckeditor.js')
//    body
//        textarea#editorContent(style='display: none;', name='editorContent', rows='15', cols='80')
//        script(type='text/javascript').
//            var sBasePath = "javascripts/fckeditor/";
//            var oFCKeditor = new FCKeditor('editor');
//            oFCKeditor.BasePath = sBasePath;
//            oFCKeditor.ProcessHTMLEntities = false;
//            oFCKeditor.Width = 800;
//            oFCKeditor.Height = 500;
//            oFCKeditor.Value = document.getElementById("editorContent").value;
//            oFCKeditor.Create();