extends index
block scripting
    script(src='javascripts/fb_valid.js')
    style.
        input[type="text"] {
            width: 200px;
        }
block content
    table
        tr

            td(valign='top')

                #wrapper(style='padding-left:150px;')
                    #userList
                        h4 Last 5 days Gmail data
                            a(style='cursor: pointer; margin-left:5%;')
                                img#refresh2(alt='refresh', width='20', height='20')
                        table
                            thead
                                th Date
                                th Gmail
                            tbody
                #wrapper2(style='padding-left:150px;')
                    #userList2
                        h4 Last 5 days Yahoo data
                            a(style='cursor: pointer; margin-left:7%;')
                                img#refresh3(alt='refresh', width='20', height='20')
                        table
                            thead
                                th Date
                                th Yahoo
                            tbody
