extends index
block scripting
    script(src='javascripts/domains.js')
    style.
        input[type="text"] {
            width: 200px;
        }
block content
    table
        tr
            td(valign='top')
                #wrapper(style='padding-left:150px;')
                    h2 Domain List
                    #userList
                        table
                            thead
                                th Domain Name
                                th Domain IP
                                th Delete?
                            tbody
                                tr
                                    td sdfsfsf
                                    td asadad
                                    td No
            td(valign='top')
                #wrapper2
                    h2 Add Domain
                    #addDomain
                        fieldset
                            input#inputDomainDomainName(type='text', placeholder='Domain Name')
                            br
                            input#inputDomainDomainIP(type='text', placeholder='Domain IP')
                            br
                            input#inputDomainGoogleCapacity(type='text', placeholder='gmail capacity (per day)')
                            br
                            input#inputDomainYahooCapacity(type='text', placeholder='yahoo capacity (per day)')
                            br
                            input#inputDomainHotmailCapacity(type='text', placeholder='hotmail capacity (per day)')
                            br
                            input#inputDomainAOLCapacity(type='text', placeholder='aol capacity (per day)')
                            br
                            input#inputDomainOthersCapacity(type='text', placeholder='others capacity (per day)')
                            br
                            input#inputDomainAPIPort(type='text', placeholder='MTA Stats API Port')
                            br
                            button#btnaddDomain Add Domain