extends index

block scripting
    script(src='javascripts/domain_settings.js')
    script(src='javascripts/jquery.timepicker.js')
    link(rel='stylesheet', href='stylesheets/jquery.timepicker.css')
block content
    .new_div(style="padding-left: 400px;")
        | Domain :
        select(id='domain_wise')
            option loading...
        = ' '
        | ISP :
        =  ' '
        select(id='selected_isp')
            option yahoodns
            option google
            option hotmail
            option aol
            option others
    table
        tr
            td
                #wrapper2
                    //h2 Edit Domains
                    //#userList
                    //    table
                    //        thead
                    //            th Domain
                    //            th Actions
                    //            th Gmail
                    //            th Yahoo
                    //            th AOL
                    //            th Hotmail
                    //            th Others
                    //            th Edit
                    //        tbody
                    #userInfo(style="padding-top: 40px; margin-left: 100px; width:500px;")
                        h2 Validation Inputs
                        pre
                            strong Domain Name:
                            |         <span id='domain_name'></span>
                            br
                            strong Status:
                            |              <span id='domain_status'></span>
                            br
                            strong Capacity(per day):
                            |   <span id='domain_capacity'></span>
                            br
                            strong Start Hour:
                            |          <span id='domain_startHour'></span>
                            br
                            strong API Port:
                            |            <span id='domain_api_port'></span>
                            br
                            strong Content Type:
                            |        <span id='domain_cont_type'></span>
                        .temp_div
                            a(id="edit_vi", style="cursor: pointer")
                                |   Edit
                        h2 Warm up Inputs
                        pre
                            strong Data Source:
                            |         <span id='domain_dataSource'></span>
                            br
                            strong Status:
                            |              <span id='domain_WMPStatus'></span>
                            br
                            strong Push %:
                            |              <span id='domain_push_percentage'></span>
                        .temp_div
                            a(id="edit_wmp", style="cursor: pointer")
                                |   Edit