extends index

block scripting
    script(src='javascripts/domainwise.js')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    //script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')

block content
    table
        tr
            td
                #wrapper
                    h2 Domain-wise Stats
                    table(width='100%')
                        tr
                            td(align= 'left', width='50%')
                                p
                                    | Domain :
                                    =  ' '
                                    select(id='domain_wise')
                                        option all
                                    = ' '
                                    a(style='cursor: pointer;')
                                        img#refresh(src='images/icon-refresh.png', alt='refresh', width='20', height='20')
                            td(align= 'right', width='50%')
                                p
                                    | Date :
                                    =  ' '
                                    input#datepicker(type='text', size='10')
                    #userList
                        table
                            thead
                                th *
                                th Gmail
                                th Yahoo
                                th AOL
                                th Hotmail
                                th Others
                                th Total
                            tbody