extends index
block scripting
    script(src='javascripts/GSB.js')
    style.
        input[type="text"] {
            width: 200px;
        }
block content
    table
        tr

            td(valign='top')

                #wrapper(style='padding-left:150px;')
                    h2 GSB Statistics
                    p.confirm
                        label
                            input#lk(type="checkbox", name="lk",val=1)
                            |        lakshmi

                        button#check_all(type='button')(style='margin-left:534px;') lakshmi Thota
                            a(style='cursor: pointer;')
                                img#refresh(src='images/icon-refresh.png', alt='refresh', width='20', height='20')

                    #userList
                        table
                            thead

                            tbody



