extends index
block scripting
    script(src='javascripts/truem.js')
    style.
        input[type="text"] {
            width: 200px;
        }
block content
    table
        tr
            td(valign='top')

                #wrapper(style='padding-left:150px;')
                    h2 Daily User's Statistics
                    #userList2
                        h4 Total seeds
                            a(style='cursor: pointer; margin-left:5%;')
                                img#refresh3(alt='refresh', width='20', height='20')
                        table
                            thead
                                th Gmail total
                                th Yahoo total
                            tbody
                    #userList
                        h4 active users
                            a(style='cursor: pointer; margin-left:5%;')
                                img#refresh2(alt='refresh', width='20', height='20')
                        table
                            thead
                                th Date
                                th G_active users
                                th Y_active users
                                th G_seeds
                                th Y_seeds
                                th G_old
                                th Y_old
                            tbody
                    
