doctype html
html(lang='en')
    head
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        title= title
        meta(name='generator', content='Bootply')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
        //if lt IE 9
          script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
        link(href='stylesheets/styles.css', rel='stylesheet')
    body
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Way2Insights Stats
                .navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right(id='index_options')
                        li
                            a(href='#') Settings
        .container-fluid
            .row.row-offcanvas.row-offcanvas-left
                #sidebar.col-sm-3.col-md-2.sidebar-offcanvas(role='navigation')
                    ul.nav.nav-sidebar
                        li#truem
                            a(href='ibm') Active Users Stats
                    ul.nav.nav-sidebar
                        li#fb_valid
                            a(href='daywise_count') Daywise Count
                     ul.nav.nav-sidebar
                        li#fb_stats
                            a(href='top_domains') Top 10 Domains
                block content
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
        script(src='javascripts/bootstrap.min.js')
        script(src='javascripts/scripts.js')
        block scripting
        div(style='height:100px;')