extends index
block scripting
    script(src='javascripts/LI_stats2.js')
    style.
        input[type="text"] {
            width: 200px;
        }
block content
    table
        tr
            td(valign='top')
                #wrapper(style='padding-left:50px;')
                    h2 Linkedin Statistics2
                    #userList
                        table(style='width:100%;')
                            thead
                                th Date
                                th hold
                                th Internal error
                                th Invalid request
                                th Other result
                                th Tokens generated
                                th Token expired
                                th No Access
                            tbody


