extends index
block scripting
    script(src='javascripts/LI_stats.js')
    style.
        input[type="text"] {
            width: 200px;
        }
block content
    table
        tr
            td(valign='top')
                #wrapper(style='padding-left:50px;')
                    h2 Linkedin Statistics
                    #userList
                        table(style='width:100%;')
                            thead
                                th Date
                                th hits
                                th distance
                                th linkedin true
                                th no member
                                th successful attempts
                                th throttles
                                th Updated on
                            tbody



