extends index

block scripting
    script(src='javascripts/list_upload.js')

block content
    h2(style='text-align: center;') List Upload
    table
        tr
            td
                #wrapper(style="margin-left: 100px;")
                    #userInfo(style="margin-top: 50px;")
                        form.form-inline(method='post', action='/upload', enctype='multipart/form-data')
                            .form-group
                                label.sr-only(for='exampleInputAmount') Amount (in dollars)
                                .input-group
                                    .input-group-addon file
                                    input.form-control(type='file', name='fileUploaded', style="width: 600px;")
                                br
                            button.btn.btn-primary(type='submit', style="margin-left: 800px;") Upload File