extends index
block scripting
    script(src='javascripts/fb_stats.js')
    style.
        input[type="text"] {
            width: 200px;
        }
block content
    table
        tr

            td(valign='top')

                #wrapper(style='padding-left:150px;')
                    h2 Top 10 domains
                            a(style='cursor: pointer;margin-left:5%')
                                img#refresh(src='images/icon-refresh.png', alt='refresh', width='20', height='20')

                    #userList
                        table
                            thead
                                th Domain
                                th Volume
                                th Inbox
                                th Spam
                                th Inbox %
                                th Spam %
                            tbody



