extends index

block scripting
    script(src='javascripts/user_settings.js')

block content
    table
        tr
            td
                #wrapper2
                    h2 Edit Users
                    #userList
                        table
                            thead
                                th Name
                                th Email
                                th Age
                                th Location
                                th Gender
                                th Priority
                                th Edit
                                //th API Key
                            tbody