extends index

block scripting
    script(src='javascripts/users.js')

block content
    table
        tr
            td
                #wrapper
                    #userInfo
                        h2 User Info
                        p
                            strong Name:
                            |  <span id='userInfoName'></span>
                            br
                            strong Age:
                            |  <span id='userInfoAge'></span>
                            br
                            strong Gender:
                            |  <span id='userInfoGender'></span>
                            br
                            strong Location:
                            |  <span id='userInfoLocation'></span>
                            br
                            strong API Key:
                            |  <span id='userInfoAPIKey'></span>
                    h2 User List
                    #userList
                        table
                            thead
                                th Name
                                th Email
                                th Delete?
                            tbody
                    h2 Add User
                    #addUser
                        fieldset
                            input#inputUserFirstname(type='text', placeholder='First Name')
                            input#inputUserLastname(type='text', placeholder='Last Name')
                            br
                            input#inputUserEmail(type='text', placeholder='Email')
                            input#inputUserAge(type='text', placeholder='Age')
                            br
                            input#inputUserLocation(type='text', placeholder='Location')
                            select(id='inputUserGender')
                                option Male
                                option Female
                            button#btnAddUser Add User