/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
    padding-top: 60px;
    background-color: #f5f5f5;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left.sidebar-offcanvas {
        left: -33%;
    }

    .row-offcanvas-left.active {
        left: 33%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 10px;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    background-color: #f5f5f5;
    margin-right: -15px;
    margin-bottom: 20px;
    margin-left: -15px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 20px;
    background-color: #fff;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

h2 {
    margin: 0 0 .5em 0;
}

a {
    color: #00B7FF;
}

#wrapper {
    padding-left: 312px;
    position: relative;
}

#wrapper2 {
    padding-left: 100px;
    position: relative;
}

#wrapper3 {
    padding-left: 312px;
    position: relative;
}

#userList, #userList2,#userList3,#userList4,#userList5 {
    margin: 0 0 30px 0;
}

#userList table, #userList2 table,#userList3 table,#userList4 table, #userList5 table {
    border-collapse: separate;
    border-spacing: 1px;
    background: #CCC;
}

#userList table th, #userList2 table th, #userList3 table th, #userList4 table th, #userList5 table th {
    background: #EEE;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
}

#userList table tbody, #userList2 table tbody,#userList3 table tbody,#userList4 table tbody,#userList5 table tbody {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

#userList table td, #userList2 table td,#userList3 table td,#userList4 table td,#userList5 table td {
    background: #FFF;
    padding: 5px 10px;
    text-align: center;
}

#userInfo {
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
}

#userInfo p {
    padding: 15px;
    border: 1px solid #CCC;
    background: rgba(80, 120, 255, 0.05);
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

option.deferred {
    color: #ff0816;
}